---
version: 2
interactions:
    - id: 0
      request:
        host: codeberg.org
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo
        method: GET
      response:
        body: |
            {"id":2062007,"owner":{"id":1112073,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"test-owner@noreply.codeberg.org","avatar_url":"https://codeberg.org/avatars/f0f48dff9fee588d019d41ad40dacfde","html_url":"https://codeberg.org/test-owner","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2026-05-11T19:50:10+02:00","restricted":false,"active":false,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"name":"test-repo","full_name":"test-owner/test-repo","description":"Disposable repo for git-spice Forgejo VCR recording","empty":false,"private":false,"fork":false,"template":false,"parent":null,"mirror":false,"size":27,"language":"","languages_url":"https://codeberg.org/api/v1/repos/test-owner/test-repo/languages","html_url":"https://codeberg.org/test-owner/test-repo","url":"https://codeberg.org/api/v1/repos/test-owner/test-repo","link":"","ssh_url":"ssh://git@codeberg.org/test-owner/test-repo.git","clone_url":"https://codeberg.org/test-owner/test-repo.git","original_url":"","website":"","stars_count":0,"forks_count":0,"watchers_count":1,"open_issues_count":0,"open_pr_counter":0,"release_counter":0,"default_branch":"main","archived":false,"created_at":"2026-06-11T01:28:05+02:00","updated_at":"2026-06-11T01:28:05+02:00","archived_at":"1970-01-01T01:00:00+01:00","permissions":{"admin":true,"push":true,"pull":true},"has_issues":true,"internal_tracker":{"enable_time_tracker":true,"allow_only_contributors_to_track_time":true,"enable_issue_dependencies":true},"has_wiki":false,"has_wiki_contents":false,"wiki_branch":"main","wiki_ssh_url":"ssh://git@codeberg.org/test-owner/test-repo.wiki.git","wiki_clone_url":"https://codeberg.org/test-owner/test-repo.wiki.git","globally_editable_wiki":false,"has_pull_requests":true,"has_projects":false,"has_releases":false,"has_packages":false,"has_actions":false,"ignore_whitespace_conflicts":false,"allow_merge_commits":true,"allow_rebase":true,"allow_rebase_explicit":true,"allow_squash_merge":true,"allow_fast_forward_only_merge":true,"allow_rebase_update":true,"default_delete_branch_after_merge":false,"default_merge_style":"merge","default_allow_maintainer_edit":false,"default_update_style":"merge","avatar_url":"","internal":false,"mirror_interval":"","object_format_name":"sha1","mirror_updated":"0001-01-01T00:00:00Z","repo_transfer":null,"topics":[]}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 186.256879ms
    - id: 1
      request:
        host: codeberg.org
        headers:
        url: https://codeberg.org/api/v1/user
        method: GET
      response:
        body: |
            {"id":1112073,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"ben.firestone@yahoo.com","avatar_url":"https://codeberg.org/avatars/f0f48dff9fee588d019d41ad40dacfde","html_url":"https://codeberg.org/test-owner","language":"en-US","is_admin":false,"last_login":"2026-06-10T22:38:27+02:00","created":"2026-05-11T19:50:10+02:00","restricted":false,"active":true,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 182.601112ms
    - id: 2
      request:
        host: codeberg.org
        body: '{"title":"Testing Sr3SwEaD","body":"Test PR with reviewer","base":"main","head":"Sr3SwEaD"}'
        headers:
            Content-Type:
                - application/json
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/pulls
        method: POST
      response:
        body: |
            {"id":2371283,"url":"https://codeberg.org/test-owner/test-repo/pulls/4","number":4,"user":{"id":1112073,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"ben.firestone@yahoo.com","avatar_url":"https://codeberg.org/avatars/f0f48dff9fee588d019d41ad40dacfde","html_url":"https://codeberg.org/test-owner","language":"en-US","is_admin":false,"last_login":"2026-06-10T22:38:27+02:00","created":"2026-05-11T19:50:10+02:00","restricted":false,"active":true,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"title":"Testing Sr3SwEaD","body":"Test PR with reviewer","labels":[],"milestone":null,"assignee":null,"assignees":null,"requested_reviewers":[],"requested_reviewers_teams":[],"state":"open","draft":false,"is_locked":false,"comments":0,"review_comments":0,"additions":1,"deletions":0,"changed_files":1,"html_url":"https://codeberg.org/test-owner/test-repo/pulls/4","diff_url":"https://codeberg.org/test-owner/test-repo/pulls/4.diff","patch_url":"https://codeberg.org/test-owner/test-repo/pulls/4.patch","mergeable":true,"merged":false,"merged_at":null,"merge_commit_sha":null,"merged_by":null,"allow_maintainer_edit":false,"base":{"label":"main","ref":"main","sha":"3a1fa73a8c315767c0eb1315db9fe005ee8dca06","repo_id":2062007,"repo":{"id":2062007,"owner":{"id":1112073,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"test-owner@noreply.codeberg.org","avatar_url":"https://codeberg.org/avatars/f0f48dff9fee588d019d41ad40dacfde","html_url":"https://codeberg.org/test-owner","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2026-05-11T19:50:10+02:00","restricted":false,"active":false,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"[...]
    - id: 3
      request:
        host: codeberg.org
        body: '{"reviewers":["test-reviewer"]}'
        headers:
            Content-Type:
                - application/json
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/pulls/4/requested_reviewers
        method: POST
      response:
        body: |
            [{"id":1465565,"user":{"id":1219640,"login":"test-reviewer","login_name":"","source_id":0,"full_name":"","email":"test-reviewer@noreply.codeberg.org","avatar_url":"https://codeberg.org/avatars/1cc32f7eeeb653c30fa16edb9c900525","html_url":"https://codeberg.org/test-reviewer","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2026-06-11T01:25:28+02:00","restricted":false,"active":false,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-reviewer"},"team":null,"state":"REQUEST_REVIEW","body":"","commit_id":"","stale":false,"official":true,"dismissed":false,"comments_count":0,"submitted_at":"2026-06-11T01:28:37+02:00","updated_at":"2026-06-11T01:28:37+02:00","html_url":"","pull_request_url":"https://codeberg.org/test-owner/test-repo/pulls/4"}]
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 201 Created
        code: 201
        duration: 392.548437ms
    - id: 4
      request:
        host: codeberg.org
        form:
            limit:
                - "30"
            page:
                - "1"
            state:
                - all
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/pulls?limit=30&page=1&state=all
        method: GET
      response:
        body: |
            [{"id":2371295,"url":"https://codeberg.org/test-owner/test-repo/pulls/8","number":8,"user":{"id":1112073,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"ben.firestone@yahoo.com","avatar_url":"https://codeberg.org/avatars/f0f48dff9fee588d019d41ad40dacfde","html_url":"https://codeberg.org/test-owner","language":"en-US","is_admin":false,"last_login":"2026-06-10T22:38:27+02:00","created":"2026-05-11T19:50:10+02:00","restricted":false,"active":true,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"title":"Testing TubnWL8m","body":"Test PR with labels","labels":[{"id":1767416,"name":"AxjsfMVw","exclusive":false,"is_archived":false,"color":"cccccc","description":"","url":"https://codeberg.org/api/v1/repos/test-owner/test-repo/labels/1767416"}],"milestone":null,"assignee":null,"assignees":null,"requested_reviewers":[],"requested_reviewers_teams":[],"state":"open","draft":false,"is_locked":false,"comments":0,"review_comments":0,"additions":1,"deletions":0,"changed_files":1,"html_url":"https://codeberg.org/test-owner/test-repo/pulls/8","diff_url":"https://codeberg.org/test-owner/test-repo/pulls/8.diff","patch_url":"https://codeberg.o[...]
