---
version: 2
interactions:
    - id: 0
      request:
        host: codeberg.org
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo
        method: GET
      response:
        body: |
            {"id":2062007,"owner":{"id":1112073,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"test-owner@noreply.codeberg.org","avatar_url":"https://codeberg.org/avatars/f0f48dff9fee588d019d41ad40dacfde","html_url":"https://codeberg.org/test-owner","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2026-05-11T19:50:10+02:00","restricted":false,"active":false,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"name":"test-repo","full_name":"test-owner/test-repo","description":"Disposable repo for git-spice Forgejo VCR recording","empty":false,"private":false,"fork":false,"template":false,"parent":null,"mirror":false,"size":27,"language":"","languages_url":"https://codeberg.org/api/v1/repos/test-owner/test-repo/languages","html_url":"https://codeberg.org/test-owner/test-repo","url":"https://codeberg.org/api/v1/repos/test-owner/test-repo","link":"","ssh_url":"ssh://git@codeberg.org/test-owner/test-repo.git","clone_url":"https://codeberg.org/test-owner/test-repo.git","original_url":"","website":"","stars_count":0,"forks_count":0,"watchers_count":1,"open_issues_count":0,"open_pr_counter":0,"release_counter":0,"default_branch":"main","archived":false,"created_at":"2026-06-11T01:28:05+02:00","updated_at":"2026-06-11T01:28:05+02:00","archived_at":"1970-01-01T01:00:00+01:00","permissions":{"admin":true,"push":true,"pull":true},"has_issues":true,"internal_tracker":{"enable_time_tracker":true,"allow_only_contributors_to_track_time":true,"enable_issue_dependencies":true},"has_wiki":false,"has_wiki_contents":false,"wiki_branch":"main","wiki_ssh_url":"ssh://git@codeberg.org/test-owner/test-repo.wiki.git","wiki_clone_url":"https://codeberg.org/test-owner/test-repo.wiki.git","globally_editable_wiki":false,"has_pull_requests":true,"has_projects":false,"has_releases":false,"has_packages":false,"has_actions":false,"ignore_whitespace_conflicts":false,"allow_merge_commits":true,"allow_rebase":true,"allow_rebase_explicit":true,"allow_squash_merge":true,"allow_fast_forward_only_merge":true,"allow_rebase_update":true,"default_delete_branch_after_merge":false,"default_merge_style":"merge","default_allow_maintainer_edit":false,"default_update_style":"merge","avatar_url":"","internal":false,"mirror_interval":"","object_format_name":"sha1","mirror_updated":"0001-01-01T00:00:00Z","repo_transfer":null,"topics":[]}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 197.931211ms
    - id: 1
      request:
        host: codeberg.org
        headers:
        url: https://codeberg.org/api/v1/user
        method: GET
      response:
        body: |
            {"id":1112073,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"ben.firestone@yahoo.com","avatar_url":"https://codeberg.org/avatars/f0f48dff9fee588d019d41ad40dacfde","html_url":"https://codeberg.org/test-owner","language":"en-US","is_admin":false,"last_login":"2026-06-10T22:38:27+02:00","created":"2026-05-11T19:50:10+02:00","restricted":false,"active":true,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 184.780614ms
    - id: 2
      request:
        host: codeberg.org
        body: '{"title":"Testing ksfiasr4","body":"Test PR with non-existent base","base":"xygUhXV1","head":"ksfiasr4"}'
        headers:
            Content-Type:
                - application/json
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/pulls
        method: POST
      response:
        body: |
            {"message":"The target couldn't be found.","url":"https://codeberg.org/api/swagger","errors":["could not find 'xygUhXV1' to be a commit, branch or tag in the base repository test-owner/test-repo"]}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 196.149003ms
